:root {
  --bar-width: 20px;
  --bar-height: 3px;
  --hamburger-gap: 3px;
  --foreground-light: #e2e4e8;
  --foreground: #99a1af;
  --animation-timing: 200ms ease-in-out;
}

#hamburgerMenu:focus-visible {
  outline: 1px solid var(--foreground) ;
  outline-offset: 1px;
}

#hamburgerMenu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  cursor: pointer;
}

#hamburgerMenu::before,
#hamburgerMenu::after,
#hamburgerMenu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  border-radius: 999px;
  background-color: var(--foreground-light);
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing);
}

#hamburgerMenu input {
  appearance: none;
  outline: none;
  pointer-events: none;
}
#hamburgerMenu:has(input:checked)::before {
  rotate: 45deg;
  translate: 3px -1px;
}
#hamburgerMenu:has(input:checked)::after {
  rotate: -45deg;
  translate: 3px 1px;
}

#hamburgerMenu input:checked {
  opacity: 0;
  width: 0;
}
.icons {
  width: 12px;
  height: 12px;
  color: #FAC402;
}