@import "tailwindcss";

:root {
  --background-color: #e4e4e6;
  --foreground: #232324;
}


.sub-nav-links-style {
  @apply border border-gray-700/50 rounded-4xl shadow-md px-2 py-1 bg-white;
}
.nav-btn-style {
  @apply flex items-center gap-1 cursor-pointer border border-gray-700/50 rounded-2xl shadow-md px-3 py-0.5;
}

.subNavBtn {
  @apply border border-gray-700/50 rounded-4xl shadow-md px-2 py-0.5 bg-white;
}

.navBtnStyle {
    @apply flex items-center gap-1 cursor-pointer border border-gray-100 rounded-2xl shadow-md px-2 py-0.5;
}