@import "tailwindcss";

:root {
  --background-color: #e4e4e6;
  --foreground: #232324;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
}

@theme {
  --breakpoint-xs: 30rem;
  
  @keyframes bounce-once {
    0% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      animation-play-state: running;
    }
    50% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
      animation-play-state: paused;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      animation-play-state: running;
    }
  }
  
  --animate-bounce-nav: bounce-once 2s;
  
  @keyframes bounce-reverse {
    0% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      animation-play-state: running;
    }
    50% {
      transform: translateY(25%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
      animation-play-state: paused;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      animation-play-state: running;
    }
  }
  
  --animate-bounce-close: bounce-reverse 2s;
  
  @keyframes drawer-open {
    0% {
      transform: translateY(100%);
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 1;
    }
  }
  
  --animate-drawer-open: drawer-open 0.4s;
  
  @keyframes drawer-close {
    0% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
    }
    100% {
      transform: translateY(100%);
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 1;
    }
  }
  
  --animate-drawer-close: drawer-close 0.4s;
}