@import "tailwindcss";

:root {
  --background-dark: #0A1828;
  --background-white: #EAE7DD ;
  --headline-txt: #BFA181;
  --link-txt-color: #178582;
  --background-dis-btn: #FF5841;
  --text-dark: #EAE7DD;
  --text-light: #0A1828;
}

body {
  background: var(--background-dark);
  color: var(--text-dark);
  font-family: Arial, Helvetica, sans-serif;
}

.center-element {
  @apply min-h-screen flex flex-col justify-center items-center
}
.inputForm {
  @apply border border-b-blue-950 p-1  rounded-sm
}
