@import "tailwindcss";

:root {
  --background: rgb(240, 249, 255);
  --foreground: rgb(15, 23, 43);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(240, 249, 255);
    --foreground: rgb(15, 23, 43);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.center-element {
  @apply min-h-screen flex flex-col justify-center items-center
}
.inputForm {
  @apply border border-b-blue-950 p-1  rounded-sm
}