@reference "tailwindcss"
:root {
  --background-dark: #1e2939;
  --foreground-dark: #19191a;
  --foreground-light: #e1e1e3;
  --border-color: #b9babb;
}

.icons {
  @apply  w-3 h-3 outline-(--foreground-light);
}